body {
	padding-top: 20px;
}

h1, h2, h3 {
	font-family: 'Merriweather Sans', sans-serif;
}

h1 a {
	color: #000;
}

h2 {
	font-weight: 300;
	font-style: italic;
	font-size: 1.5em;
	line-height: 125%;
}

h3 small {
	font-weight: 300;
	font-style: italic;
	font-size: .6em;
}

a {
	color: #4ECDC4;
}

a:hover {
	color: #556270;
}

header {
	margin-bottom: 40px;
}

article {
	margin-bottom: 40px;
}