body {
	padding-top: 20px;

	-moz-transition: 300ms opacity ease-out 0s;
	-o-transition: 300ms opacity ease-out 0s;
	-webkit-transition: 300ms opacity ease-out 0s;
	-ms-transition: 300ms opacity ease-out 0s;
	transition: 300ms opacity ease-out 0s;
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	-khtml-opacity: 0;
	opacity: 0;
}
body.loaded {
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
	-moz-transition: 1000ms opacity ease-out 0s;
	-o-transition: 1000ms opacity ease-out 0s;
	-webkit-transition: 1000ms opacity ease-out 0s;
	-ms-transition: 1000ms opacity ease-out 0s;
	transition: 1000ms opacity ease-out 0s;
}

h1, h2, h3 {
	font-family: 'Merriweather Sans', sans-serif;
}

h1 a {
	color: #000;
}

h2 {
	font-weight: 300;
	font-style: italic;
	font-size: 1.5em;
	line-height: 125%;
}

.post h2 {
	font-size: 1.1em;
}

h2 a {
	color: #FF6B6B;
}

h2 a:hover {
	color: #C44D58;
}

h3 small {
	font-weight: 300;
	font-style: italic;
	font-size: .6em;
}

a {
	color: #FF6B6B;
}

a:hover {
	color: #C44D58;
}

header {
	margin-bottom: 40px;
}

article {
	margin-bottom: 40px;
}

h3.visible-phone {
	line-height: 100%;
}

@media (max-width: 480px) {
	.post h1, .post h2 {
		margin-bottom: 0;
		line-height: 100%;
	}
	
	.post h1 {
		font-size: 1.9em;
	}
	
	.post h2 {
		font-size: 1em;
	}
}

@media (max-width: 767px) {
	header.post { 
		text-align: center;
	}
	
	header.post img {
		width: 50px;
		height: 50px;
	}
}

@media (min-width: 980px) {
	header.post .span2 {
		width: 100px;
	}
}

footer {
	margin-top: 30px;
}

.sm-logo {
	margin-bottom: 20px;
}