---
layout: default
title: Home
---
{% include header.html %}

<div class="container">
	<div class="row">
		<div class="offset2 span4 text-right">
		 <a href="http://twitter.com/thody"><img src="/img/twitter.png"></a>
		 <br>&nbsp;
		 
		</div>
		
		<div class="span4">
			<a href="https://medium.com/@thody"><img src="/img/medium.png"></a>
			<br>&nbsp;
		</div>
	</div>
	
	<div class="row">
		<div class="offset2 span4 text-right">
			<a href="https://github.com/thody"><img src="/img/github.png"></a>
		</div>
		
		<div class="span4">
			<a href="http://ca.linkedin.com/in/thody"><img src="/img/linkedin.png"></a>
		</div>
	</div>
</div>

{% include footer.html %}
