<footer class="container">
	<div class="row">
		<div class="offset2 span8">
			<p class="muted text-center">
				&copy; 2013 Adam Thody.
			</p>
		</div>
	</div>
</footer>

<script type="text/javascript" charset="utf-8">
	document.write('<script src=/js/' + ('__proto__' in {} ? 'zepto' : 'jquery') + '.min.js><\/script>');
</script>
<script type="text/javascript" charset="utf-8">
$(function($) {
  $("body").addClass("loaded");
});
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38710607-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>