<header class="container">
	<div class="offset3 span6 text-center">
		<a href="/"><img src="/img/portrait.jpg" height="150" width="150" class="img-circle"></a>
		<h1><a href="/">Adam Thody</a></h1>
		<h2 class="muted">Leading product development at @architechca. I design and build big, scalable web stuff leanly.</h2>
		<div class="well well-small muted">You should follow me: <a href="http://www.twitter.com/thody">Twitter</a> / <a href="http://ca.linkedin.com/in/thody">Linkedin</a></div>
	</div>
</header>