<header class="container post">
	<div class="row">
		<div class="offset2 span2">
			<a href="/"><img src="/img/portrait.jpg" width="100" height="100" class="img-circle"></a>
		</div>
		<div class="span6">
			<h1><a href="/">Adam Thody</a></h1>
			<h2 class="muted">I lead product development <a href="http://www.twitter.com/architechca">@architechca</a>, where we design and engineer big, scalable web stuff leanly.</h2>
			<!-- <div class="well well-small muted">You should follow me: <a href="http://www.twitter.com/thody">Twitter</a> / <a href="http://ca.linkedin.com/in/thody">Linkedin</a></div> -->
		</div>
	</div>
</header>