<header class="container post">
	<div class="row">
		<div class="offset2 span2">
			<a href="/"><img src="/img/portrait.jpg" width="100" height="100" class="img-circle"></a>
		</div>
		<div class="span6">
			<h1><a href="/">Adam Thody</a></h1>
			<h2 class="muted">I <span class="hidden-phone">lead product development <a href="http://www.twitter.com/architechca">@architechca</a>, where we</span> design and engineer <span class="hidden-phone">big, scalable</span> web stuff leanly.</h2>
		</div>
	</div>
</header>